body {
	background: #ffffff;
  font-family: Helvetica, Arial sans-serif;
  color: black;
  font-style: normal;
	font-weight: 900;
  overflow-x: hidden;
}

html, body {
  margin: 0;
  padding: 0;
}  

/*---------------------------------------
    Typorgraphy              
-----------------------------------------*/
h2,h3,h4,h5,h6 {
  font-style: normal;
  font-weight: 300;
  color: black;
  display: flex;
}h1





h2 {
  color: black ;
    font-size: 25px;
    font-weight: 800;
    line-height: 28px;
    letter-spacing: 0.2px;
}



h3 {
  color: black;
  font-size: 20px;
  font-weight: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding-top: 6px;
  text-align: center;
}

h5 {
  color: black;
}

strong {
  color: black;
  font-weight: normal;
}

p {
    color: black ;
    font-size: 25px;
    font-weight: 300;
    line-height: 28px;
    letter-spacing: 0.2px;
}

.section-btn {
  background-color: transparent;
  border: 3px solid #232B2B;
  border-radius: 100px;
  color: black;
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 1.6px;
  padding: 12px 36px;
  margin-top: 42px;
  transition: all 0.4s ease-in-out;
  text-transform: uppercase;
}

.section-btn:hover {
  background: #E3AE57;
  border-color: transparent;
  color: #ffffff;
}

.btn-success:focus {
  background-color: #000;
  border-color: transparent;
}

.parallax-section {
  background-attachment: fixed !important;
  background-size: cover !important;
}

.section-title {
  position: relative;
  background: rgba(227, 174, 87, 0.4);


}
.background {
  background: #E3AE57;
  opacity: 0.4;
}





#service,
#quotes,
footer {
  text-align: center;
}

#experience,
#education {
  background: #E9724C;
}

.background-image {
    background-position: 50% 50% !important;
    background-size: cover !important;
    width: 100%;
    height: 100%;
    min-height: 75vh;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.color-black{
  color: black;
}
.color-white {
  color: #ffffff;
}

.color-yellow {
  color: #E3AE57;
}

.bg-yellow {
  background: #E3AE57;
}

.bg-white {
  background: #ffffff;
}

.bg-dark {
  background: #161616;
}



/*---------------------------------------
    General               
-----------------------------------------*/

html{
  -webkit-font-smoothing: antialiased;
}

a {
  color: black;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  text-decoration: none !important;
}
a:hover, a:active, a:focus {
  color: #b67409;
  outline: none;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}



/*---------------------------------------
    Preloader section              
-----------------------------------------*/

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  background: none repeat scroll 0 0 #ffffff;
}

.spinner {
  border: 1px solid transparent;
  border-radius: 5px;
  position: relative;
}

.spinner:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 30px;
  height: 30px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 2px solid #E3AE57;
  border-top-color: #f9f9f9;
  animation: spinner .6s linear infinite;
}

@-webkit-@keyframes spinner {
  to {transform: rotate(360deg);}
}

@keyframes spinner {
  to {transform: rotate(360deg);}
}



/*---------------------------------------
    Navigation section              
-----------------------------------------*/



/*header styling*/
header {

  background: white;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position:-webkit-sticky;
  position: sticky;
  top:0;
  z-index: 9999;
}


.name{
  text-align: left;
  margin-right: 320px;
}
.img2 {
  float: left;
  margin-right: 30px;
  margin-top: 30px;
  width:  100px;
  height: 100px;
  object-fit: cover;
}


header h1 a {
  text-decoration: none;
  color: var(--primary-color);
  font-size: 40px;
}

header nav {
  margin: 7px 0;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding: 20px 10px;
  border-spacing: 10px;
}


header nav ul li a {

  padding: 10px 15px;
  font-weight: lighter;
  font-size: 1.55vw;
  text-decoration: none;
  color: var(--secondary-color);
  border-bottom: 5px solid var(--secondary-color);  
}

  header nav ul li a:hover {
      background-color: var(--secondary-color);
      color: var(--primary-color);
      border-radius:  15px;
      text-shadow: none;
  }
/*end header*/ 

@media(min-width:768px) {
    .custom-navbar {
        padding: 12px 0;
        border-bottom: 0;
        background: 0 0; 
        
    }
    .custom-navbar.top-nav-collapse {
        background: #ffffff;
        box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.08);
 
        
    }

}



/*---------------------------------------
    Home section              
-----------------------------------------*/




#home .home-img {
  background: url('../src/assets/hero.jpg') no-repeat;
  background-size: cover;
  color: black;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
  /* background-attachment: fixed; */
  background-position: 80%;
}

.text-right {
  position: relative;
  text-align: right;
}

.hero-cta {
  width: 35%;
  text-align: right;
  margin-left: 50%;
  margin-top: 5%;
  font-size: 18px;
  line-height: 1.2;
  color: black;
  display: flex;
  height: 100vh;
  
}





/*---------------------------------------
    Portfolio section              
-----------------------------------------*/
#btn input[type="submit"]:hover {
  background: #887a63;
  border-color: #E3AE57;
  color: black;
  width: 300px;
}
.button input{
  margin-top: 5px;
  background: #E9724C;
  width: 300px;
}

#service {
  background: #E9724C;
}

#service p {
  font-size: 18px;
  line-height: 30px;
}

#service .service-thumb {
  padding: 52px 22px 52px 22px;
  text-align: center;
}

#service .service-thumb .fa {
  font-size: 42px;
  text-align: center;
  padding-bottom: 22px;
}
.padding {
  margin-left: 5%;
  padding-top: 5px;
}

li {
  list-style-type: none;
}
/*---------------------------------------
Resume section              
-----------------------------------------*/
.flex-row {
  display: flex;
  flex-wrap: wrap;
}
.container2 {
  width: 85%;
 justify-content: center;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.text-center {
  position: relative;
  text-align: right;
  justify-content: center;
}
.font {
  font-size: .8rem;
  font-style: italic;
}
.img {
  float: left;
  margin-right: 30px;
  width:  300px;
  height: 300px;
  object-fit: cover;
}
.img:hover{
  opacity: 0.3;
}
.space{
  margin-bottom: 40px;
}


/*---------------------------------------
    Contact section              
-----------------------------------------*/

#contact {
  
  background: #E3AE57;
 
}

#contact .contact-form,
#contact .contact-thumb {
  padding: 22px 32px 22px 32px;
  min-height: 75vh;
}


#contact .contact-info {
  padding-top: 6px;
  padding-bottom: 6px;
}


#contact .form-control {

  border: none;
  border-bottom: 1px solid #E3AE57;
  border-radius: 0px;
  box-shadow: none;
  color: black;
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 25px;
  transition: all 0.4s ease-in-out;
  
}

#contact .form-control:focus {
  border-bottom-color: #ffffff;
}

#contact input {
  height: 45px;
}

#contact input[type="submit"] {
  background: #ffffff;
  border: 2px solid transparent;
  border-radius: 40px;
  color: #161616;
  padding-bottom: 10px;
}

#contact input[type="submit"]:hover {
  background: transparent;
  border-color: #ffffff;
  color: #ffffff;
}

#contact .fa {
  padding-right: 10px;
}
form {
  width: 40%;
}
input {
  width: 122%;
  font-size: 1rem;
  padding: 0.25rem;
  border: 1px solid var(--dark);
  outline: none;
  border-radius: 3px;
  transition: box-shadow 0.2s;
}
input:focus {
  border: 1px solid var(--secondary);
  box-shadow: 0 0 .25rem rgba(0, 0, 0, .5);
}


/*---------------------------------------
   Footer section              
-----------------------------------------*/

footer {
    padding: 70px 0px;
}



/*---------------------------------------
   Social icon             
-----------------------------------------*/

.social-icon {
    position: relative;
    padding: 0;
    margin: 0;
    text-align: center;
}

.social-icon li {
    display: inline-block;
    list-style: none;
}

.social-icon li a {
    border: 2px solid transparent;
    color: #999;
    border-radius: 100px;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;
    transition: all 0.4s ease-in-out;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    vertical-align: middle;
    position: relative;
    margin: 22px 4px 10px 4px;
}

.social-icon li a:hover {
    background: #E3AE57;
    border-color: #ffffff;
    color: #ffffff;
    transform: scale(1.1);
}



/*---------------------------------------
   Mobile Responsive         
-----------------------------------------*/

/* @media only screen and (max-width: 580px) {
  h1 {
    font-size: 32px;
  }

  h2 {
    font-size: 28px;
    line-height: inherit;
  }

  h3 {
    font-size: 22px;
    line-height: inherit;
  }
}

@media only screen and (max-width: 767px) {
  .custom-navbar .navbar-brand {
    line-height: 18px;
  }

  #home .home-thumb {
    height: auto;
    padding-top: 32px;
    padding-bottom: 12px;
  }



  .background-image {
    position: relative;
    min-height: 65vh;
  }
}

@media only screen and (max-width: 1024px) {
  .section-title {
    padding-bottom: 12px;
  }

  footer {
    padding: 40px 0;
  }
} */

/*Media Query Section*/
/*MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER*/
@media screen and (max-width: 980px) {
  header {
      padding-bottom: 0;
      justify-content: center;
      position: relative;
  }
  .section-title {
    padding-bottom: 12px;
  }
  header h1 {
      width: 100%;
      text-align:center;
  }

  header nav ul {
      margin-top: 20px;
      width:100%;
      justify-content:center;
  }

  header nav ul li a {
      font-size: 20px;
  }

  footer h2, footer div {
      text-align: center;
      width: 100%;
  }

  .hero-cta, .hero-form {
      width: 100%;
  }

  .hero-cta {
      text-align: center;
  }



  .trainer {
      flex: 0 70%;
  }

  .contact-info iframe {
      flex: 1 100%;
  }
}
/*MEDIA QUERY FOR TABLETS AND SMALLER*/
@media screen and (max-width: 768px) {
  section {
      padding: 30px 15px;
  }


}

/*MEDIA QUERY FOR MOBILE PHONES AND SMALLER*/
@media screen and (max-width: 575px) {
  

  .hero-cta button {
      width: 100%;
  }

  .section-title {
      width: 95%;
  }
  
  .intro p {
      width: 100%;
  }

  .trainer {
      flex: 0 100%;
  }

  .contact-info {
      text-align:center;
  }

  .contact-info > * {
      flex: 0 100%;
  }

  .contact-form {
      order: 3;
  }
}